<form action="/create" method="POST">
    <h2>Create Todo</h2>

    <div class="input-field">
        <input name="title" type="text" />

        <label>Todo Title</label>
    
    </div>

    <button type="submit" class="btn">Create</button>
</form>

