<!DOCTYPE html>
<html lang="en">

    {{> head}}
    <body>
        
        {{> navbar}}

    <div class="container application-container">
        {{{ body }}}

    </div>


    {{> scriptsFooter}}
    </body>

</html>