<nav class="navbar">
    <ul class="navbar-nav">
        {{#if isAuth}}
            
        {{else}}
        
            <li class="nav-item"><a href="/">Home</a></li>
            <li class="nav-item"><a href="/about">About</a></li>

            <!-- Dropdown -->
            <li class="nav-item has-dropdown">
                <a href="#">Theme</a>
                <ul class="dropdown">

                    <li class="dropdown-item">
                        <a id="light" href="#">light</a>
                    </li>

                    <li class="dropdown-item">
                        <a id="dark" href="#">dark</a>
                    </li>

                    <li class="dropdown-item">
                        <a id="solar" href="#">solarize</a>
                    </li>

                </ul>
            </li>

            <li class="nav-item"><a href="/contact">Contact</a></li>
            <li class="nav-item"><a href="/login">Login</a></li>

        {{/if}}
        
    </ul>
</nav>