<div class="about-content">

    <h1>About The Community</h1>

    <div class="video-box">
        <video src="images/Top 100 3D Renders(1).mp4" muted autoplay loop type="mp4"></video>
    </div>

    <div class="textBox">
        <h2>Here <span>Dreams</span> Come True</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima obcaecati sit facere officiis, doloribus laborum in praesentium pariatur recusandae? Adipisci voluptatem magni consectetur accusamus minus enim hic, totam praesentium corporis.</p>
        <a href="#" id="hireBtn" class="button">Read More</a>
    </div>

    {{!-- Popout --}}
    <div class="popup-outer">
        <div class="popup-box">
            <div class="profile-text">
                <img src="/images/founder.jpg"> 
                <div class="text">
                    <span class="name">Jhon Doe</span>
                    <span class="profession">Founder</span>
                </div>
            </div>
            
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam, corrupti ipsa! Quo voluptates quaerat repellendus voluptatibus sequi! Nisi libero consequatur sunt. Eum, sapiente. Rem, delectus pariatur. Reprehenderit atque explicabo deleniti. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam, corrupti ipsa! Quo voluptates quaerat repellendus voluptatibus sequi! Nisi libero consequatur sunt. Eum, sapiente. Rem, delectus pariatur. Reprehenderit atque explicabo deleniti. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam, corrupti ipsa! Quo voluptates quaerat repellendus voluptatibus sequi! Nisi libero consequatur sunt. Eum, sapiente. Rem, delectus pariatur. Reprehenderit atque explicabo deleniti. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam, corrupti ipsa! Quo voluptates quaerat repellendus voluptatibus sequi! Nisi libero consequatur sunt. Eum, sapiente. Rem, delectus pariatur. Reprehenderit atque explicabo deleniti. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam, corrupti ipsa! Quo voluptates quaerat repellendus voluptatibus sequi! Nisi libero consequatur sunt. Eum, sapiente. Rem, delectus pariatur. Reprehenderit atque explicabo deleniti.</p>
            <div class="button">
                <button id="close" class="cancel">Close</button>
            </div>
            
        </div>
    </div>
    {{!-- Popout End --}}

</div>
