<section class="sec contact" id="contact">
    <div class="content">

        <div class="mxw800p">
            <h3>Send us a message</h3>
            <p>Lorem quas quae, sapiente repellat debitis voluptas repudiandae</p>
        </div>

        <div class="contactForm">
            <form>
                <div class="row100">
                    <div class="inputBx50">
                        <input type="text" name="" placeholder="Full Name">
                    </div>
                    <div class="inputBx50">
                        <input type="text" name="" placeholder="Email Address">
                    </div>
                </div>
                <div class="row100">
                    <div class="inputBx100">
                        <textarea placeholder="Message"></textarea>    
                    </div>
                </div>
                
                <div class="row100">
                    <div class="inputBx100">
                        <input type="submit" name="" value="Send">
                    </div>
                </div>
            </form>
        </div>

        <div class="sci">
            <ul>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
            </ul>
        </div>

        <p class="copyright">Design & Developed By <a href="/" style="color: var(--purple);">Us</a></p>

    </div>
</section>