<div class="bodyClone">
    <div class="login-container">
        <div class="forms">
            <div class="form login">
                <img src="images/logo.png" class="logo">
                <span class="title">Login</span>

                <form action="/login" method="POST">
                    <div class="input-field">

                        <input id="email" type="email" name="email"
                        {{#if mailError}} style="border-bottom-color: red !important" {{else}} {{/if}}
                        placeholder="Enter your email" required>

                        <i class="uil uil-envelope icon" {{#if mailError}} style="color: red !important" {{else}} {{/if}}></i>
                    </div>
                    <div class="input-field">

                        <input id="password" type="password" name="password" class="password" 
                        {{#if passError}} style="border-bottom-color: red !important" {{else}} {{/if}}
                        placeholder="Enter your password" required>

                        <i class="uil uil-lock icon" {{#if passError}} style="color: red !important" {{else}} {{/if}}></i>
                        <i class="uil uil-eye-slash showHidePw"></i>
                    </div>

                    <div class="checkbox-text">
                        <div class="checkbox-content">
                            <input type="checkbox" id="logCheck">
                            <label for="logCheck" class="text">Remember me</label>
                        </div>
                        
                        <a href="/contact" class="text">Forgot password?</a>
                    </div>

                    <div class="input-field button">
                        <input type="submit" value="Login Now">
                    </div>
                </form>

                <div class="login-signup">
                    <span class="text">Not a member?
                        <a href="/registration" class="text signup-link">Signup now</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>